<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>753785125549-k6rqltpmvaq537rhut8ucdfl0cqlp56h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.753785125549-k6rqltpmvaq537rhut8ucdfl0cqlp56h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>753785125549-2gchr85inep8amivalcd1ucskma6jitg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDNT3KrgRymFguHBRm_ts1Wd81lbpGPgaU</string>
	<key>GCM_SENDER_ID</key>
	<string>753785125549</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.assignment.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>kayla-testapp</string>
	<key>STORAGE_BUCKET</key>
	<string>kayla-testapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:753785125549:ios:21a54c530a5543d0a46424</string>
	<key>DATABASE_URL</key>
	<string>https://kayla-testapp-default-rtdb.firebaseio.com</string>
</dict>
</plist>